@model IEnumerable<E_Prescription2.Models.PrescriptionLine>

@{
    ViewData["Title"] = "Index";
}



<p>
    <p class="h2">Create New Prescription</p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.medicationActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dispenseDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instruction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repeats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.medicationActive.MediActiveId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dispenseDetails.DispenseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instruction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repeats)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrescriptionLineId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrescriptionLineId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrescriptionLineId">Delete</a>
            </td>
        </tr>
}
    </tbody>
    <div>
    <button type="button" class="btn btn-warning">Back to Home</button>
</div>
</table>
