@model IEnumerable<E_Prescription2.Models.PrescriptionLine>

@{
    ViewData["Title"] = "Index";
    List<Prescription> postalCodes = (List<Prescription>)ViewData["Prescription"];
}



    <p class="h2">Create New Prescription Line</p>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="table-primary ">
        <tr>
                <th>
                    <label>NO: </label>
                </th>
                
            <th>
                    <label>MEDICATION </label>
            </th>
            
            <th>
                    <label>QUANTITY </label>
            </th>
            <th>
                    <label>INSTRUCTIONS </label>
            </th>
            <th>
                    <label>REPEATS </label>
            </th>
            <th>
                    <label>DISPENCING DATE </label>
            </th>
            <th>
                    <label>REPEATS LEFT </label>
            </th>
            <th>
                    <label>STATUS </label>
            </th>
            <th>
                <label>PHARMACIST</label>
            </th>
            <th>
                <label>PHARMACY NAME </label>
            </th>
        </tr>
    </thead>
    <tbody>
        
@foreach (var item in Model) {
    
            
        <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrescriptionLineId)
                    </td>
                   
            <td>
                @Html.DisplayFor(modelItem => item.medicationActive.MedicationName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instruction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repeats)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dispenseDetails.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dispenseDetails.RepeatsLeft)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dispenseDetails.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dispenseDetails.PharmacistUser.FullName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.dispenseDetails.PharmacyRecords.PharmacyName)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrescriptionLineId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrescriptionLineId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrescriptionLineId">Delete</a>
            </td>
        </tr>
}
    </tbody>
    
    
</table>
</div>
<button type="button" class="btn btn-warning">Back to Home</button>
