@model IEnumerable<E_Prescription2.Models.ChronicCondition>

@{
    ViewData["Title"] = "Chronic Conditions";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Conditions.ICD_10_CODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conditions.Diagnosis)
            </th>
            <th>
                <label>Patient @Html.DisplayNameFor(model => model.User) </label>
            </th>
            <th>
                <label>Date Diagnosed @Html.DisplayNameFor(model => model.Date)</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Conditions.ICD_10_CODE)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conditions.Diagnosis)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChronicId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChronicId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChronicId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
