@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>


   
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row g-1">
             <div class="col-md-6">
                  <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                 <div class="form-floating">
                 
                 <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true"/>
                 <label asp-for="Input.FirstName"></label>

              </div>
             </div>
             
             <div class="col-md-6">
                   <span asp-validation-for="Input.LastName" class="text-danger"></span>
                 <div class="form-floating">
                
                <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.LastName"></label>
              
             </div>
             </div>

             
             
             <div class="col-md-6">
                    <span asp-validation-for="Input.IdNumber" class="text-danger"></span>
             <div class="form-floating">
                
                <input asp-for="Input.IdNumber" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.IdNumber"></label>
             
             </div>
             </div>
             <div class="col-md-3">
             
             <label asp-for="Input.Genders" class="form-control" autocomplete="GenderId" aria-required="true">
                 
                 <select asp-for="SelectedGenderId" asp-items="@Model.GenderItem" class="form-select" aria-label="Default select example" >
                 <option>-- select your gender --</option>
                  
             </select>
             </label>
            
             </div>
            

             <div class="col-md-6">
                  <span asp-validation-for="Input.Email" class="text-danger"></span>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
               
            </div>
            </div>
            
             <div class="col-md-6">
                  <span asp-validation-for="Input.DOB" class="text-danger"></span>
                 <div class="form-floating">
                
                <input asp-for="Input.DOB" class="form-control" autocomplete="dateofbirth" aria-required="true" />
                <label asp-for="Input.DOB"></label>
               
             </div>
             </div>

             
                 <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.PhoneNumber"></label>
                
            </div>
            


            <div class="col-md-6">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                
            </div>
            </div>
             <div class="col-md-6">
                 <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                
            </div>
             </div>
              <span asp-validation-for="Input.AddressLine1" class="text-danger"></span>
            <div class="form-floating">
                <input asp-for="Input.AddressLine1" class="form-control" autocomplete="addressline1" aria-required="true" />
               <label asp-for="Input.AddressLine1"></label>
               
             </div>
             <div class="form-floating">
                
                <input asp-for="Input.AddressLine2" class="form-control" autocomplete="addressline1" aria-required="true"/>
                <label asp-for="Input.AddressLine2"></label>
                
             </div>
             
            
               <div class="row g-1">
              <div class="col-md-3">
             <label asp-for="Input.Province" class="form-control" autocomplete="provinceId" aria-required="true">
                  Province
                 <select asp-for="SelectedProvinceId" asp-items="@Model.ProvinceItem" class="form-select" aria-label="Default select example" >
                 <option>-- select a province --</option>
                  
             </select>
             </label>
             </div>
             </div>
            
             <div class="row g-1">
              <div class="col-md-3">
             <label asp-for="Input.City" class="form-control" autocomplete="cityId" aria-required="true">
                 City
                 <select asp-for="SelectedCityId" asp-items="@Model.CityItem" class="form-select" aria-label="Default select example" >
                 <option>-- select a city --</option>
                 </select>
             </label>
             </div>
             </div>
             <div class="row g-1">
              <div class="col-md-3">
                  <label asp-for="Input.Suburb" class="form-control" autocomplete="suburbId" aria-required="true">
                      Suburb
                      <select asp-for="SelectedSuburbId" asp-items="@Model.SuburbItem" class="form-select" aria-label="Default select example" >
                 <option>-- select a suburb --</option>
                 </select>
                  </label> 
                  </div>
                  </div>
                  
                   <div class="col-md-3">
                  <label asp-for="Input.PostalCode" class="form-control" autocomplete="postalcodeId" aria-required="true">
                       Postal Code
                      <select asp-for="SelectedPostalCodeId" asp-items="@Model.PostalCodeItem" class="form-select" aria-label="Default select example" >
                 <option>-- select a postal code --</option>
                 </select>
                  </label>
                  </div>
                 


                

          </div>
          
           <div class="form-floating">
               <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
           </div> 
        </form>
    
 @*   <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
