@model E_Prescription2.Models.MedicationActiveIngredient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedicationActiveIngredient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicationRecords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicationRecords.MedicationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Strength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Strength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveIngredientRecords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveIngredientRecords.ActiveIngredientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schedules)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schedules.ScheduleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DosageForms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DosageForms.DosageFormName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MediActiveId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
