@model IEnumerable<E_Prescription2.Models.MedicationActiveIngredient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a class="" href="~/Admin/Index">Back to Admin </a>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="form-control">
    <form asp-action="Index" method="get">
        <label for="SearchString">Search by Medication Name:</label>
        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Search" class="btn btn-primary"/>

    </form>
    <a asp-action="Index">Back to full list</a>
    <hr/>
    
</div>
<table class="table">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicationRecords)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveIngredientRecords)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedules)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DosageForms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedicationRecords.MedicationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveIngredientRecords.ActiveIngredientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedules.ScheduleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DosageForms.DosageFormName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MediActiveId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MediActiveId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MediActiveId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
