@using Microsoft.AspNetCore.Identity
@model IEnumerable<E_Prescription2.Models.ChronicCondition>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>



    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Conditions.ICD_10_CODE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Conditions.Diagnosis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (UserManager.GetUserAsync(User).Result.FullName == item.User.FullName)
                {


                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Conditions.ICD_10_CODE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Conditions.Diagnosis)
                    </td>
                    <td>

                    
                    
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    
                        


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ChronicId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ChronicId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ChronicId">Delete</a>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>


