@model IEnumerable<E_Prescription2.Models.Prescription>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrescriptionLines)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                Prescription Line
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrescriptionLines.PrescriptionLineId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
                <td>
                    <a asp-action="Index" asp-controller="PatientPrescriptionLines">
                        <button type="button" class="btn btn-secondary"><i class="fa-sharp fa-solid fa-prescription-bottle"></i>  Prescription Line  </button>
                    </a>
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrescriptionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrescriptionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrescriptionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
