@model IEnumerable<E_Prescription2.Models.DrugAllergy>

@{
    ViewData["Title"] = "Index";
}
<style>
    .modal {
        text-align: center;
        padding: 0 !important;
    }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        xmin-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #f5f5f5;
        padding-left: 10px !important;
    }

    legand {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 35%;
        border-radius: 4px;
        border: 1px solid #ddd;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }
</style>
<fieldset>
<h1 class="mb-3 row justify-content-center"><i class="fa-sharp fa-3x fa-solid fa-person-dots-from-line text-primary"></i>Allergies</h1>
<hr/>

<h2 class="mb-3 row justify-content-left">Doctor </h2>
    
    
   


<p>
    <a asp-action="Create"><button type="button" class="btn btn-outline-info">Create New</button></a>
</p>
<table class="table table-bordered">
    <thead>
        
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.ActiveIngredientRecords)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveIngredientRecords.ActiveIngredientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.DrugId"><i class="fa-sharp fa-solid fa-pen-to-square text-info"></i>Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DrugId"><i class="fa-sharp fa-solid fa-circle-info text-primary"></i>Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DrugId"><i class="fa-sharp fa-solid fa-trash text-danger"></i>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</fieldset>
