@model E_Prescription2.Models.DispenseDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DispenseDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PharmacistUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PharmacistUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PharmacyRecords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PharmacyRecords.LicenseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepeatsLeft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepeatsLeft)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DispenseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
