@model E_Prescription2.Models.ChronicMedication

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChronicMedication</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediActiveIngredient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediActiveIngredient.MediActiveId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ChronicMedi">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
