@model IEnumerable<E_Prescription2.Models.ChronicMedication>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-outline-info">Create New</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediActiveIngredient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediActiveIngredient.MediActiveId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ChronicMedi"><i class="fa-sharp fa-solid fa-pen-to-square text-info"></i>Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ChronicMedi"><i class="fa-sharp fa-solid fa-circle-info text-primary"></i>Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ChronicMedi"><i class="fa-sharp fa-solid fa-trash text-danger"></i>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
