@model E_Prescription2.Models.MedicalPracticeRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedicalPracticeRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PracticeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PracticeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Provinces)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Provinces.ProvinceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suburbs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Suburbs.SuburbName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cities.CityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCodes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCodes.PostalCodeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PracticeNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
