@model IEnumerable<E_Prescription2.Models.MedicalPracticeRecord>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a class="" href="~/Admin/Index">Back to Admin </a>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PracticeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressLine1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressLine2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provinces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suburbs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCodes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PracticeNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PracticeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLine1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLine2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provinces.ProvinceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suburbs.SuburbName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cities.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCodes.PostalCodeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PracticeNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PracticeNumberId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PracticeNumberId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PracticeNumberId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
