@model IEnumerable<E_Prescription2.Models.Schedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="table-primary">
        <tr>
            <th>
                <label @Html.DisplayNameFor(model => model.ScheduleName)>Schedules</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduleName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScheduleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ScheduleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ScheduleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
