@using Microsoft.AspNetCore.Identity
@model IEnumerable<E_Prescription2.Models.DrugAllergy>
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Patient Alergies";
}
<style>
    .modal {
        text-align: center;
        padding: 0 !important;
    }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        xmin-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #f5f5f5;
        padding-left: 10px !important;
    }

    legand {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 35%;
        border-radius: 4px;
        border: 1px solid #ddd;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }
</style>
<a class="" href="~/Patient/Index"><button type="button" class="btn btn-outline-primary">Back to Patient</button></ </a>
<fieldset>
    <legend>Patient Drug Allergies </legend>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActiveIngredientRecords)
            </th>
            <th>
                <label> Patient @Html.DisplayNameFor(model => model.User)</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            @if (UserManager.GetUserAsync(User).Result.FullName == item.User.FullName)
            {

           
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveIngredientRecords.ActiveIngredientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.DrugId">Details</a> |
                
            </td>
        </tr>
 }          
            }
    </tbody>
</table>
</fieldset>
