@model IEnumerable<E_Prescription2.Models.Prescription>

@{
    ViewData["Title"] = "Index";
}

<p class="h1">View Prescription</p>

<p>
     <a asp-action="Create" button type="button" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                 Prescription Line
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorUser.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientUser.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                 <a asp-action="Index" asp-controller="PrescriptionLines">
                     <button type="button" class="btn btn-secondary"><i class="fa-sharp fa-solid fa-prescription-bottle"></i>  Prescription Line  </button>
                     </a>
            </td>
            <td>
                  <a asp-action="Edit" asp-route-id="@item.PrescriptionID">
                   <button type="button" class="btn btn-light"><i class="fa-sharp fa-solid fa-pen-to-square text-info"></i>Edit</button>
                    </a> |
               <a asp-action="Details" asp-route-id="@item.PrescriptionID">
                    <button type="button" class="btn btn-info"><i class="fa-sharp fa-solid fa-circle-info text-primary"></i>Details</button>
                    </a>  |
                <a asp-action="Delete" asp-route-id="@item.PrescriptionID">
                    <button type="button" class="btn btn-danger"><i class="fa-sharp fa-solid fa-trash text-danger"></i>Delete</button>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
