@model IEnumerable<E_Prescription2.Models.Prescription>

@{
    ViewData["Title"] = "Index";
}

<p class="h1">View Prescription</p>

<p>
     <a asp-action="Create" button type="button" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrescriptionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrescriptionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrescriptionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
